appdirs==1.4.4
arabic-reshaper==2.0.15
astunparse==1.6.3
bitstring==3.1.6
cycler==0.10.0
dukpy==0.2.2
enum-compat==0.0.3
esprima==4.0.1
et-xmlfile==1.0.1
freetype-py==2.1.0.post1
gevent==20.5.1
gitdb==4.0.5
gitpython==3.1.2
glfw==1.11.1
greenlet==0.4.15
imageio==2.8.0
imageio-ffmpeg==0.4.2
ipywidgets==7.5.1
javascripthon==0.11
jdcal==1.4.1
joblib==0.15.1
json-tricks==3.15.2
jupyter==1.0.0
jupyter-console==6.1.0
kiwisolver==1.2.0
macropy3==1.1.0b2
matplotlib==3.2.1
mne==0.20.5
moviepy==1.0.3
msgpack==1.0.0
msgpack-numpy==0.4.6.post0
muselsl==2.0.2
numexpr==2.7.1
numpy==1.18.1
openpyxl==3.0.3
pandas==1.0.3
pillow==7.1.2
proglog==0.1.9
psychopy==2020.1.2
ptyprocess==0.6.0
pygame==1.9.6
pygatt==4.0.5
pyglet==1.5.5
pylsl==1.13.1
pyopenbci==0.13
pyopengl==3.1.5
pyosf==1.0.5
pypiwin32==223
pyqmix==2019.1
pyqt5==5.14.2
pyqt5-sip==12.7.2
pyqtgraph==0.10.0
pyserial==3.4
python-bidi==0.4.2
python-gitlab==2.2.0
pywinhook==1.6.2
questplus==2019.4
ruamel-yaml==0.16.10
ruamel-yaml-clib==0.2.0
scikit-learn==0.23.1
scipy==1.4.1
seaborn==0.10.1
sklearn==0.0
smmap==3.0.4
sounddevice==0.3.15
soundfile==0.10.3.post1
tables==3.6.1
threadpoolctl==2.0.0
tqdm==4.46.0
vispy==0.6.4
widgetsnbextension==3.5.1
wxpython==4.1.0
xarray==0.15.1
xlrd==1.2.0
xmltodict==0.12.0
zope-event==4.4
zope-interface==5.1.0